@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        This website uses cookies to ensure you get the best experience on our website. 
        @if (Url.Action() != Url.Action("Privacy", "Home"))
        {
            <input type="button" id="btnRedirect" value="Learn More"/>
        }
        <button type="button" class="accept-policy close" data-dismiss="Salert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>

    <script>
        $(function(){
          $("#btnRedirect").click(function(){
            window.location.href = "@Url.Action("Privacy", "Home")";
          });
        });
        
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
				var cookieContainer = document.querySelector("#cookieConsent");
				cookieContainer.remove();
            }, false);
        })();
    </script>
}