@{
    ViewBag.Title = "User registration";
    Layout = "_Layout";
}

<h2>UploadFile</h2>
@using(Html.BeginForm("Users","Import", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <div>
        @Html.TextBox("file", "", new {  type= "file"}) <br />
        <input type="submit" value="Upload" accept=".xls,.xlsx,.csv"/>
        @ViewBag.Message
    </div>
}