@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <div class="calendar-container">
            <div id="calendar"> </div>
            <div id="calendar--list"> </div>
        </div>
</div>

@section Scripts
{
    <script type="text/javascript">	
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek'
            },
            contentHeight: 580,
            firstDay: 1,
            slotMinutes: 30,
            events: 'https://localhost:44311/FindAll'
        });
    });
    
        $(document).ready(function () {
            $('#calendar--list').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'listWeek'
                },
                firstDay: 1,
                contentHeight: 580,
                defaultView: 'listWeek',
                slotMinutes: 30,
                events: 'https://localhost:44311/FindAll'
            });
        });
        
        window.onload = function() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetCurrentUser", "Home")',
                contentType: "application/json",
                dataType: "json",
                success: function(result) {
                    successFunc(result);
                    },
                error: errorFunc
            });
            
            function successFunc(data) {     
                alert(data.groupName + data.subject + data.agenda + data.teacher + data.room)}
            }
            
            function errorFunc() {}
</script>
}

