@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="calendar"> </div>
</div>

@section Scripts
{
    <script type="text/javascript">	
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,listWeek'
            },
            firstDay: 1,
            slotMinutes: 30,
            events: 'https://localhost:44311/FindAll'
        });
    });
</script>
}

