@model IList<Backend.Models.LessonModel>

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="table-responsive">
        <table id="myRoomTable" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Group</th>
                    <th>Subject</th>
                    <th>Teacher</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script>
       $(document).ready(
           function () {
           $('#myRoomTable').DataTable(
               {
                   ajax: {
                       url: "GetLessonsList",
                       type: "POST",
                   },
                   processing: true,
                   serverSide: true,
                   filter: true,
                   columns: [
                       { data: "name", name: "Name" },
                       { data: "group.name", name: "Group" },
                       { data: "subject.name", name: "Subject" },
                       { data: "teacher.name", name: "Teacher" },
                       { data: "timePeriod.startTime", name: "Start" },
                       { data: "timePeriod.endTime", name: "End" },
                   ],
                    columnDefs: [{
                       "defaultContent": "-",
                       "targets": "_all"
                     }]
               }
           );
       });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}