@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="auth">
    <img src="~/logo.png" width="20%"  style="margin-top: 20rem; height: fit-content;"/>
    <div class="auth__form">
        <form id="account" method="post" class="auth-container">
            <h1 class="auth-container__welcome-msg">Welcome!</h1>
            <h2 class="auth-container__welcome-msg--tiny">Login and let's get it started</h2>
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="auth-container__form">
                <label asp-for="Input.Email" class="form-label"></label>
                <input class="form-control auth-container__form-item" asp-for="Input.Email" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="auth-container__form">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control auth-container__form-item" autocomplete="current-password" aria-required="true"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div style="padding: 0.2rem 7rem;">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="align-content-center">
                <button id="login-submit" type="submit" class="button--auth"><i class="bi bi-arrow-right"></i></button>
            </div>
            <div class="auth-form--footer">
                <p>
                    <a id="forgot-password" type="button" class="button-17"  asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" type="button" class="button-17"  asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                   <p>
                    <a id="resend-confirmation" type="button" class="button-17"  asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
                </div>
                @*Do not remote or style this*@
                <input id="input-token" hidden="hidden" asp-for="Input.Token"/>
            </form>
        
    </div>
    <div class="col-md-6" align="center">
            <h2>Utm Student ?</h2>
            <h6>We have been waiting for you :3!</h6>
            <section>
                <form id="special-access" method="post">
                    <button id="special-button" class="button-17" style="color: #0b5ed7" asp-page="./ForgotPassword">Special access</button>
                </form>
            </section>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <partial name="_Recaptcha"/>
}