@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
</div>

<div>
<div class="row d-flex" style="justify-content: center; margin-top:3rem;">
    <div class="col-md-6 align-self-center">
            <form id="delete-user" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.RequirePassword)
                {
                    <div class="auth-container__form">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input asp-for="Input.Password" class="form-control auth-container__form-item" autocomplete="current-password" aria-required="true"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                }
                <div style="text-align: center">
                    <button class="button--delete" type="submit">Delete data and close my account</button>
                </div>
            </form>
            </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
