@model List<Backend.Models.UserModel>

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="table-responsive">
        <table id="myUserTable" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
            <thead>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
            </tr>
            </thead>
        </table>
    </div>
</div>


<script>
       $(document).ready(
           function () {
           $('#myUserTable').DataTable(
               {
                   ajax: {
                       url: "GetUsersList",
                       type: "POST",
                   },
                   processing: true,
                   serverSide: true,
                   filter: true,
                   columns: [
                       { data: "email", name: "Email" },
                       { data: "firstName", name: "FirstName" },
                       { data: "lastName", name: "LastName" },
                       { data: "phoneNumber", name: "PhoneNumber" },
                   ],
                    columnDefs: [{
                       "defaultContent": "-",
                       "targets": "_all"
                     }]
               }
           );
       });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}