
@{
    ViewBag.Title = "User registration";
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <h2>Create something.</h2>
            <hr/>
            <button id="registerSubmit" style="width: auto" type="submit" class="w-100 btn btn-lg btn-primary">Create role</button>
        </form>
    </div>
</div>