#calendar {
  /* Today button*/
}
#calendar .fc-state-hover {
  border: none;
}
#calendar .fc-scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
#calendar .fc-body {
  border-color: #e9e9e9;
}
#calendar .fc-time-grid .fc-slats .fc-minor td {
  border-top: none;
}
#calendar .fc-widget-header {
  background-color: #eaeaf6 !important;
}
#calendar .fc-scroller {
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */
}
#calendar .fc-today {
  background-color: #eaeaf6;
  color: #f2208a;
}
#calendar .fc-head {
  line-height: 5rem;
}
#calendar .fc-today-button {
  font-size: 16px;
  background: rgb(63, 94, 251);
  border: none;
  padding: 0 2em;
  background: linear-gradient(90deg, rgb(4, 2, 91) 0%, rgb(252, 70, 107) 100%);
  border-radius: 64px;
  color: #fefefe;
}
#calendar .fc-prev-button {
  font-size: 16px;
  margin-right: 0.8rem;
  border: none;
  color: #fefefe;
  background: #0E0E26;
  border-radius: 50px 0 0 50px;
}
#calendar .fc-prev-button:hover {
  opacity: 0.9;
  color: #f2208a;
}
#calendar .fc-next-button {
  font-size: 16px;
  border: none;
  color: #fefefe;
  background: #0E0E26;
  margin-right: 0.8rem;
  border-radius: 0 50px 50px 0;
}
#calendar .fc-next-button:hover {
  opacity: 0.9;
  color: #f2208a;
}
#calendar .fc-month-button {
  padding: 0 1.2em;
  font-size: 16px;
  font-weight: lighter;
  margin-right: 0.8rem;
  border: none;
  color: #fefefe;
  background: #0E0E26;
  border-radius: 50px 0 0 50px;
}
#calendar .fc-month-button:hover {
  opacity: 0.9;
  color: #f2208a;
}
#calendar .fc-state-active {
  opacity: 0.9;
}
#calendar .fc-agendaWeek-button {
  padding: 0 1.2em;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  color: #fefefe;
  background: #0E0E26;
  margin-right: 0.8rem;
  border-radius: 0 50px 50px 0;
}
#calendar .fc-agendaWeek-button:hover {
  opacity: 0.9;
  color: #f2208a;
}
#calendar .fc-agenda-view .fc-day-grid .fc-row {
  display: none;
}
#calendar .fc-list-view {
  border: none !important;
}
#calendar .fc-list-heading {
  border-bottom: 8px solid #f2208a;
}
#calendar .fc-list-heading .fc-widget-heade {
  background: transparent;
}

#calendar--list .fc-listWeek-button {
  display: none;
}
#calendar--list .fc-scroller {
  height: unset !important;
}
#calendar--list .fc-list-heading td {
  background-color: #eaeaf6 !important;
  height: 3.5rem !important;
}
#calendar--list .fc-today-button {
  display: none;
}
#calendar--list .fc-prev-button {
  font-size: 16px;
  margin-right: 0.8rem;
  border: none;
  color: #fefefe;
  background: #0E0E26;
  border-radius: 50px 0 0 50px;
}
#calendar--list .fc-prev-button:hover {
  opacity: 0.9;
  color: #f2208a;
}
#calendar--list .fc-next-button {
  font-size: 16px;
  border: none;
  color: #fefefe;
  background: #0E0E26;
  margin-right: 0.8rem;
  border-radius: 0 50px 50px 0;
}
#calendar--list .fc-next-button:hover {
  opacity: 0.9;
  color: #f2208a;
}
#calendar--list .fc-center h2 {
  display: none;
}
#calendar--list .fc-left {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
}
#calendar--list .fc-view-container {
  height: 92%;
}
#calendar--list .fc-view-container .fc-view {
  height: 100%;
}
#calendar--list .fc-view-container .fc-list-empty {
  background: #eaeaf6 !important;
}

/* Events */
.fc-time-grid-event .fc-v-event .fc-event {
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header {
  padding: 0 1rem;
  position: relative;
  z-index: 10;
  background: #0E0E26;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
}
.header__list .list__item {
  list-style-type: none;
}

.main {
  background: #fefefe;
  margin-left: 8rem !important;
  padding: 4rem;
  border-radius: 40px 0 0 0 !important;
  min-height: calc(100vh - 7rem) !important;
}

.sidebar {
  padding-top: 9rem;
  background: #0E0E26;
  position: fixed;
  top: 0;
  width: 8rem;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  bottom: 0;
}
.sidebar .list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sidebar .list__item {
  font-size: 2rem;
  list-style-type: none;
  font-weight: bolder;
}
.sidebar .list__item .item__content {
  color: #fefefe;
  width: fit-content;
  border-radius: 50%;
}
.sidebar .list__item .item__content:hover {
  background-color: #fefefe;
  color: #f2208a;
}
.sidebar .list__item .item__content--white {
  color: #f2208a;
  background-color: #fefefe !important;
}

.button-text--pink {
  border: none;
  color: #f2208a !important;
  background: transparent;
  font-size: 1.5rem;
}

.auth {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10rem;
  background-color: #0e0e26 !important;
  position: absolute;
  left: 0;
  top: 0;
  height: 100% !important;
  width: 100% !important;
  z-index: 10;
}
.auth__form {
  margin-top: 15vh;
  width: 60rem;
  background-color: #fefefe;
  padding: 2rem;
  border-radius: 2rem;
  height: fit-content;
}
.auth__form .auth-container {
  padding: 1rem;
}
.auth__form .auth-container__welcome-msg {
  font-size: 26px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #0e0e26;
  text-align: center;
}
.auth__form .auth-container__welcome-msg--tiny {
  color: #0e0e26;
  font-size: 16px;
  margin-top: 0.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.auth__form .auth-container__redirect {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 1rem;
}

.auth-container__form {
  margin-top: 1rem;
  padding: 0 7rem;
}
.auth-container__form .form-label {
  font-size: 12px;
  font-weight: lighter;
  color: #d9d9d9;
  margin-bottom: 0.2rem;
}
.auth-container__form-item {
  background-color: #eaeaf6;
  line-height: 5rem;
  height: 4rem;
}
.auth-container__form--register {
  margin-top: 1.2rem;
}

/*# sourceMappingURL=index.css.map */
